@font-face {
  font-family: 'iconfont';  /* project id 258132 */
  src: url('//at.alicdn.com/t/font_o3hh49umhkc5wmi.eot');
  src: url('//at.alicdn.com/t/font_o3hh49umhkc5wmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_o3hh49umhkc5wmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_o3hh49umhkc5wmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_o3hh49umhkc5wmi.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode::before { content: "\e66d"; }

.icon-pinglun::before { content: "\e638"; }

.icon-xiaoxi::before { content: "\e64c"; }

.icon-yanjing::before { content: "\e6ce"; }

.icon-fabiao::before { content: "\e60a"; }

.icon-shouye::before { content: "\e653"; }

.icon-zhiding::before { content: "\e604"; }

.icon-jinghua::before { content: "\e605"; }

.icon-fanhui::before { content: "\e61b"; }

